h1 {
  color: rgb(255, 56, 92);
}
.form-control,.form-select::placeholder {
  color: #999;
}
.form-control,.form-select:focus {
  box-shadow: none;
  border: 1px solid rgb(34, 34, 34) !important;
}

@media (max-width: 500px) {
  .responsive {
    display: none;
  }
  img {
    margin-bottom: 2rem;
    width: 100%;
  }
}
