h1 {
  color: rgb(255, 56, 92);
}
.form-control::placeholder {
  color: #999;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(34, 34, 34) !important;
}

@media (max-width: 500px) {
  .responsive {
    display: none;
  }
  .container-fluid {
    padding: 0px 30px !important;
  }
  img {
    margin-bottom: 2rem;
    width: 100%;
  }
  .imageGrp {
    padding: 0px !important;
  }
}
