<nav class="navbar" style="border-bottom: 1px solid #ccc">
  <div style="padding: 0px 80px" class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><img width="118" height="64" [src]="brandlogo" alt=""
    /></a>
    <button
      class="navbar-toggler"
      style="border: none; box-shadow: none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span>
        <div
          style="width: 45px; height: 45px; background-color: rgb(255, 56, 92)"
          class="rounded-circle d-flex justify-content-center align-items-center"
          *ngIf="!domainPic"
        >
          <i style="color: white" class="fa-solid fa-user fs-4 p-2"></i>
        </div>
        <div *ngIf="domainPic" class="profile">
          <img
            style="width: 100%; object-fit: cover"
            src="{{ domainPic }}"
            alt=""
          />
        </div>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-center text-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn" routerLink="/wishlists">Wishlists</a>
          </li>
          <li class="nav-item">
            <a class="btn" routerLink="/host">Host your home</a>
          </li>
          <li>
            <a class="btn" routerLink="/hostings">Currently Hosting</a>
          </li>
          <li>
            <a class="btn" routerLink="/reservations">Your reservations</a>
          </li>
          <li>
            <a class="btn" routerLink="/account">Account details</a>
          </li>
          <li (click)="logout()">
            <a class="text-danger btn fw-bold">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
