.form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(253, 196, 207) !important;
}
.form-control::placeholder {
  color: #999;
}
.dropdown-menu {
  min-width: 250px;
  max-height: 300px;
  overflow-y: auto;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 15px;
  line-height: 30px;
}
.navDrop{
    display: none;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

@media (max-width: 500px) {
  .container-fluid {
    padding: 0px 30px !important;
  }
  .MobileUser{
    display: none;
  }
  .searchBar{
    padding: 0px 15px;
  }
  .navDrop{
    display: block;
}
.host{
    display: none;
}
}

