<div
  style="
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
  *ngIf="loading == true"
>
  <div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<section class="py-5">
  <div class="container-fluid mt-5" style="padding: 0px 80px">
    <div class="row">
      <div
        class="col-lg-3 col-sm-12 mb-5"
        *ngFor="let property of allProperties"
      >
        <div class="card" style="width: 322px">
          <img
            style="object-fit: cover; border-radius: 11px"
            width="322"
            height="305"
            routerLink="view/{{ property._id }}"
            [src]="property.image"
            class="card-img-top position-relative"
            alt="..."
          />
          <div class="cardBody">
            <div class="title text-capitalize">{{ property.title }}</div>
            <div class="overview text-muted text-capitalize">
              <span
                ><i class="fa-solid fa-location-dot text-danger"></i
              ></span>
              {{ property.city }}, {{ property.district }} ,
              {{ property.state }}
            </div>
            <div class="rate">
              ₹{{ property.price }}
              <span class="text-muted fw-medium">night</span>
            </div>
          </div>
          <div
            class="position-absolute"
            style="cursor: pointer; right: 0; padding: 20px"
          >
          
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: rgb(255, 255, 255);
                height: 24px;
                width: 24px;
                overflow: visible;
              "
              (click)="addtoWishlist(property)"
            >
              <path
                d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
