h1 {
  color: rgb(255, 56, 92);
}
.paypal{
    width: 500px;
    margin-top: 2rem;
    border-radius: 22px;
}

.card {
    width: 500px;
    /* height: 450px; */
    border: none;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .profile {
    width: 7.75rem;
    height: 6.625rem;
    border-radius: 55px;
  }
  .profile img {
    width: 7.75rem;
    height: 6.625rem;
    border-radius: 5%;
    object-fit: cover;
  }
@media (max-width: 500px) {
  .card {
    width: 300px;
    padding: 0px;
  }
  .paypal {
    width: 300px;
    padding: 0px;
  }
  .paymentCard{
    margin-left: 0px !important;
  }
}
