<app-header></app-header>
<div class="container mt-5 mb-5">
  <h1 class="fw-bolder">Your <span class="text-dark">reservations</span></h1>
  <hr class="mb-4" />
  <div *ngIf="reservations.length == 0">
    <h2>You dont have any reservations...</h2>
  </div>
  <div
    style="display: flex; align-items: center; justify-content: center"
    *ngIf="loading == true"
  >
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" *ngFor="let reserve of reservations">
      <div class="card mb-3 p-3">
        <div class="row">
          <div class="col-lg-5 d-flex ReserveCard">
            <div class="profile">
              <img src="{{ reserve.image }}" alt="" />
            </div>
            <div class="ms-3">
              <h4 class="fw-bold text-capitalize">
                {{ reserve.title }}
              </h4>
              <span class="small text-capitalize">
                <i class="fa-solid fa-location-dot text-danger"></i>
              </span>
              {{ reserve.district }}, {{ reserve.city }},
              {{ reserve.state }}
              <br />
              {{ reserve.category }}
            </div>
          </div>

          <div class="col-lg-3 d-flex flex-column">
            <h5 class="fw-bold ms-3">Payment details</h5>
            <div class="ms-3">
              <span>Payment portal :</span>
              Paypal
              <br />
              <span >Amount paid :</span>
              ₹ {{ reserve.amount }} /-
            </div>
          </div>

          <div class="col-lg-4">
            <h5 class="fw-bold ms-3">Reservation details</h5>

            <span class="ms-3">Checkin :</span>
            {{ reserve.checkin }}

            <br />
            <span class="ms-3">Checkout :</span>
            {{ reserve.checkout }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

