<app-header></app-header>
<div class="container-fluid" style="padding: 0px 80px">
  <div class="mt-4 mb-3"><h3>Hikkaduva, Sri Lanka</h3></div>
  
  <div class="imageBanner">
    <img
      src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
      class="imageBanner"
    />
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-lg-7 col-sm-12">
      <div class="d-flex align-items-center">
        <div style="width: 45px; height: 45px">
          <img
            style="width: 100%; object-fit: cover"
            src="https://a0.muscache.com/im/pictures/user/d069a7f2-54b5-479f-8e88-dc58a27e1e18.jpg?im_w=240"
            alt=""
            class="rounded-circle"
          />
        </div>
        <div class="ms-4">
          Hosted by Joseph
          <br />
          <span class="hostDetails">5 years of hosting</span>
        </div>
      </div>
      <hr />
      <div>
        <h5>
          <span class="me-2"
            ><i class="fa-solid fa-location-dot text-danger"></i></span
          >Aroor, Alappuzha , Kerala
        </h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam beatae
        ducimus rerum in? Iure voluptate eveniet nemo, repudiandae minima ad
        aliquam odio quaerat, possimus at, in molestias maiores cupiditate
        assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Perspiciatis neque eos quidem ipsam obcaecati cupiditate officiis sint
        optio, rem voluptate, aut voluptatum vero corporis repudiandae ullam
        sequi quisquam at? Magni.
        <br />
        <span># Beach Front</span>
      </div>
    </div>
    <div class="col-lg-5 col-sm-12">
      <div class="card ms-auto p-4">
        <h4>₹5000 <span class="fs-5 text-muted">night</span></h4>
        <div
          class="row border border-2 mt-2 m-1"
          style="border-radius: 11px; border: 1px solid black !important"
        >
          <div class="col-6">
            <label class="form-label small">Check-in</label>
            <input type="date" class="form-control" />
          </div>
          <div class="col-6">
            <label class="form-label small">Checkout</label>
            <input type="date" class="form-control" />
          </div>
        </div>
        <div class="mt-2 m-1">
          <select
            class="form-select"
            id="state"
            style="border-radius: 11px; border: 1px solid black !important"
          >
            <option value="" selected disabled>No of guests</option>
            <option value=" 1">1</option>
            <option value="2 ">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
        <button class="btn mt-4">Check availability</button>
      </div>
    </div>
  </div>
</div>
