/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 56, 92);
  border-radius: 10px;
}
