<app-header></app-header>

<!-- cards section -->



<section class="py-5">
  <div class="container-fluid mt-5" style="padding: 0px 80px;">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div  class="col mb-5">
        <div class="" >
          <div class="card" style="width: 322px">
            <img
              style="object-fit: cover; border-radius: 11px"
              width="322"
              height="305"
              src="https://a0.muscache.com/im/pictures/37b61ebe-5dec-4732-b695-767752807e80.jpg?im_w=720"
              class="card-img-top position-relative"
              alt="..."
            />
            <div class="cardBody">
              <div class="title">Hikkaduva, Sri Lanka</div>
              <div class="overview text-muted">Luxurious Home at Marine Drive 3 Beds.</div>
              <div class="rate">₹23,522 <span class="text-muted fw-medium">night</span></div>
            </div>
            <div class="position-absolute" style="right: 0; padding: 20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: rgba(0, 0, 0, 0.5);
                  height: 24px;
                  width: 24px;
                  stroke: var(--f-mkcy-f);
                  stroke-width: 2;
                  overflow: visible;
                "
              >
                <path
                  d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div  class="col mb-5">
        <div class="" >
          <div class="card" style="width: 322px">
            <img
              style="object-fit: cover; border-radius: 11px"
              width="322"
              height="305"
              src="https://a0.muscache.com/im/pictures/miso/Hosting-912305060013575560/original/eb4120bb-e281-41eb-bef5-7dac96eb90f2.jpeg?im_w=720"
              class="card-img-top position-relative"
              alt="..."
            />
            <div class="cardBody">
              <div class="title">Hikkaduva, Sri Lanka</div>
              <div class="overview text-muted">Luxurious Home at Marine Drive 3 Beds.</div>
              <div class="rate">₹23,522 <span class="text-muted fw-medium">night</span></div>
            </div>
            <div class="position-absolute" style="right: 0; padding: 20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: rgba(0, 0, 0, 0.5);
                  height: 24px;
                  width: 24px;
                  stroke: var(--f-mkcy-f);
                  stroke-width: 2;
                  overflow: visible;
                "
              >
                <path
                  d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div  class="col mb-5">
        <div class="" >
          <div class="card" style="width: 322px">
            <img
              style="object-fit: cover; border-radius: 11px"
              width="322"
              height="305"
              src="https://a0.muscache.com/im/pictures/miso/Hosting-738879331663769852/original/d1f074a9-ed6c-4ffe-a3a6-b6c3578d205b.jpeg?im_w=720"
              class="card-img-top position-relative"
              alt="..."
            />
            <div class="cardBody">
              <div class="title">Hikkaduva, Sri Lanka</div>
              <div class="overview text-muted">Luxurious Home at Marine Drive 3 Beds.</div>
              <div class="rate">₹23,522 <span class="text-muted fw-medium">night</span></div>
            </div>
            <div class="position-absolute" style="right: 0; padding: 20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: rgba(0, 0, 0, 0.5);
                  height: 24px;
                  width: 24px;
                  stroke: var(--f-mkcy-f);
                  stroke-width: 2;
                  overflow: visible;
                "
              >
                <path
                  d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div  class="col mb-5">
        <div class="" >
          <div class="card" style="width: 322px">
            <img
              style="object-fit: cover; border-radius: 11px"
              width="322"
              height="305"
              src="https://a0.muscache.com/im/pictures/miso/Hosting-831527464018917266/original/9ae20254-6983-4c3a-b6c5-835eeccc7b88.jpeg?im_w=720"
              class="card-img-top position-relative"
              alt="..."
            />
            <div class="cardBody">
              <div class="title">Hikkaduva, Sri Lanka</div>
              <div class="overview text-muted">Luxurious Home at Marine Drive 3 Beds.</div>
              <div class="rate">₹23,522 <span class="text-muted fw-medium">night</span></div>
            </div>
            <div class="position-absolute" style="right: 0; padding: 20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: rgba(0, 0, 0, 0.5);
                  height: 24px;
                  width: 24px;
                  stroke: var(--f-mkcy-f);
                  stroke-width: 2;
                  overflow: visible;
                "
              >
                <path
                  d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div  class="col mb-5">
        <div class="" >
          <div class="card" style="width: 322px">
            <img
              style="object-fit: cover; border-radius: 11px"
              width="322"
              height="305"
              src="https://a0.muscache.com/im/pictures/6bdf69a6-6087-472c-82ec-aa5185933d22.jpg?im_w=720"
              class="card-img-top position-relative"
              alt="..."
            />
            <div class="cardBody">
              <div class="title">Hikkaduva, Sri Lanka</div>
              <div class="overview text-muted">Luxurious Home at Marine Drive 3 Beds.</div>
              <div class="rate">₹23,522 <span class="text-muted fw-medium">night</span></div>
            </div>
            <div class="position-absolute" style="right: 0; padding: 20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: rgba(0, 0, 0, 0.5);
                  height: 24px;
                  width: 24px;
                  stroke: var(--f-mkcy-f);
                  stroke-width: 2;
                  overflow: visible;
                "
              >
                <path
                  d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div  class="col mb-5">
        <div class="" >
          <div class="card" style="width: 322px">
            <img
              style="object-fit: cover; border-radius: 11px"
              width="322"
              height="305"
              src="https://a0.muscache.com/im/pictures/miso/Hosting-942016843110989439/original/9021de81-e6a8-4a52-affa-a97fd1e82d08.jpeg?im_w=720"
              class="card-img-top position-relative"
              alt="..."
            />
            <div class="cardBody">
              <div class="title">Hikkaduva, Sri Lanka</div>
              <div class="overview text-muted">Luxurious Home at Marine Drive 3 Beds.</div>
              <div class="rate">₹23,522 <span class="text-muted fw-medium">night</span></div>
            </div>
            <div class="position-absolute" style="right: 0; padding: 20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: rgba(0, 0, 0, 0.5);
                  height: 24px;
                  width: 24px;
                  stroke: var(--f-mkcy-f);
                  stroke-width: 2;
                  overflow: visible;
                "
              >
                <path
                  d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>