h1 {
  color: rgb(255, 56, 92);
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus {
  border: 0;
  box-shadow: none;
}

h3 {
  color: rgb(255, 56, 92);
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(253, 196, 207) !important;
}

.form-control::placeholder {
  color: #999;
}

.dropdown-menu {
  min-width: 250px;
  max-height: 300px;
  overflow-y: auto;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 15px;
  line-height: 30px;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.custom-modal .modal-dialog {
  max-width: 570px;
  margin: auto;
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 55px;
}
.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .container-fluid {
    padding: 0px 30px !important;
  }
  .host {
    display: none;
  }
  .navbar{
    position: relative;
  }
  .responsive{
    position: absolute;
    right: 0;
    top: 20px;
  }
  /* .searchbar{
    display: none;
  } */
}
