<app-header></app-header>

<div class="container-fluid mt-5 mb-5" style="padding: 0px 80px">
  <h1 class="fw-bolderr">airbnb <span class="text-dark">Account</span></h1>
  <hr class="mb-4" />
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Legal name:</div>
              <div class="small">Kannan KB</div>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Email address:</div>
              <div class="small">seemakpksaaa.com</div>
            </div>
            <div>
              <button class="btn-link text-dark border-0 bg-white small">
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Phone number:</div>
              <div class="small">9048257445</div>
            </div>
            <div>
              <button class="btn-link text-dark border-0 bg-white small">
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Government ID:</div>
              <div class="small">Not provided</div>
            </div>
            <div>
              <button class="btn-link text-dark border-0 bg-white small">
                Add
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Address:</div>
              <div class="small">Not provided</div>
            </div>
            <div>
              <button class="btn-link text-dark border-0 bg-white small">
                Add
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Emergency Number:</div>
              <div class="small">Not provided</div>
            </div>
            <div>
              <button class="btn-link text-dark border-0 bg-white small">
                Add
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center flex-column"
    >
      <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="profile">
          <img src="https://images.pexels.com/photos/19140226/pexels-photo-19140226/free-photo-of-woman-sitting-alone-in-an-auditorium-seat.jpeg" alt="" />
        </div>
        <h1 class="fw-bolder mt-4">
          John <span class="text-dark">Abraham</span>
        </h1>
        <div>
          <button class="btn border-0 text-decoration-underline">
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
