<app-header></app-header>
<div class="container-fluid mt-5 mb-5" style="padding: 0px 80px">
  <h1 class="fw-bolder">airbnb <span class="text-dark">Account</span></h1>
  <hr class="mb-4" />
  <div class="row">
    <div
      class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center flex-column responsive"
    >
      <!-- profile image area -->
      <label>
        <div *ngIf="account.userImage">
          <input
            type="file"
            style="display: none"
            formControlName="image"
            (change)="getFile($event)"
          />
          <div class="profile">
            <img src="{{ account.userImage }}" alt="" />
          </div>
        </div>
        <div *ngIf="!account.userImage">
          <input
            type="file"
            style="display: none"
            formControlName="image"
            (change)="getFile($event)"
          />
          <div class="profile">
            <img
              src="https://cdn.icon-icons.com/icons2/2428/PNG/512/airbnb_black_logo_icon_147166.png"
              alt=""
            />
          </div>
        </div>
      </label>
      <!-- name and password -->
      <h1 class="fw-bolder mt-4 text-capitalize">
        {{ account.firstName }}
        <span class="text-dark">{{ account.lastName }}</span>
      </h1>
      <div>
        <button
          class="btn border-0 text-decoration-underline"
          data-bs-toggle="modal"
          data-bs-target="#passModal"
        >
          Change Password
        </button>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <!-- name -->
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Legal name:</div>
              <div class="small text-uppercase">
                {{ account.firstName }} {{ account.lastName }}
              </div>
            </div>
            <div>
              <button
                class="btn-link text-dark border-0 bg-white small"
                data-bs-toggle="modal"
                data-bs-target="#nameModal"
              >
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <!-- email -->
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Email address:</div>
              <div class="small">{{ account.email }}</div>
            </div>
            <div>
              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#emailModal"
                class="btn-link text-dark border-0 bg-white small"
              >
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <!-- phone number -->
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Phone number:</div>
              <div class="small">{{ account.phoneNumber }}</div>
            </div>
            <div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#mobileModal"
                class="btn-link text-dark border-0 bg-white small"
              >
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <!-- government id -->
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Government ID:</div>
              <div class="small" *ngIf="!account.idProof">Not uploaded</div>
              <div class="small" *ngIf="account.idProof">Uploaded</div>
            </div>
            <div>
              <button
                class="btn-link text-dark border-0 bg-white small"
                *ngIf="!account.idProof"
                data-bs-toggle="modal"
                data-bs-target="#proofModal"
              >
                Add
              </button>
              <button
                class="btn-link text-dark border-0 bg-white small"
                *ngIf="account.idProof"
                data-bs-toggle="modal"
                data-bs-target="#proofModal"
              >
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <!-- address -->
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Address:</div>
              <div class="small" *ngIf="!account.address">Not provided</div>
              <div class="small" *ngIf="account.address">
                {{ account.address }}
              </div>
            </div>
            <div>
              <button
                class="btn-link text-dark border-0 bg-white small"
                *ngIf="!account.address"
                data-bs-toggle="modal"
                data-bs-target="#addressModal"
              >
                Add
              </button>
              <button
                class="btn-link text-dark border-0 bg-white small"
                *ngIf="account.address"
                data-bs-toggle="modal"
                data-bs-target="#addressModal"
              >
                Edit
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-2">
          <!-- emergency number -->
          <div class="d-flex justify-content-between p-2">
            <div>
              <div>Emergency Number:</div>
              <div class="small" *ngIf="!account.emergencyNumber">
                Not provided
              </div>
              <div class="small" *ngIf="account.emergencyNumber">
                {{ account.emergencyNumber }}
              </div>
            </div>
            <div>
              <button
                class="btn-link text-dark border-0 bg-white small"
                *ngIf="!account.emergencyNumber"
                data-bs-toggle="modal"
                data-bs-target="#emergencyModal"
              >
                Add
              </button>
              <button
                class="btn-link text-dark border-0 bg-white small"
                *ngIf="account.emergencyNumber"
                data-bs-toggle="modal"
                data-bs-target="#emergencyModal"
              >
                Edit
              </button>
            </div>
          </div>
        </li>
      </ul>
      <!-- Modal area for update -->
      <div>
        <!--Email Modal -->
        <div
          class="modal fade custom-modal"
          id="emailModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Update your</span>
                  <span class="fw-bolder">Email</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="ModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <!-- form area -->
                <form [formGroup]="updateForm" (ngSubmit)="updateEmail()">
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="floatingInput"
                      placeholder="Email address"
                      formControlName="email"
                      value="{{ account.email }}"
                      name="email"
                      aria-describedby="emailHelp"
                    />
                    <div
                      id="emailHelp"
                      *ngIf="
                        this.updateForm.get('email')?.errors &&
                        this.updateForm.get('email')?.touched
                      "
                      class="form-text text-danger"
                    >
                      Enter your email correctly!
                    </div>
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- phonenumber modal -->
        <div
          class="modal fade custom-modal"
          id="mobileModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Update your </span>
                  <span class="fw-bolder">Phone number</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="phoneModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <!-- form area -->
                <form [formGroup]="updateForm" (ngSubmit)="updatePhone()">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput"
                      placeholder="Phone Number"
                      formControlName="phone"
                      value="{{ account.phoneNumber }}"
                      name="phone"
                      aria-describedby="phoneHelp"
                    />
                    <div
                      id="phoneHelp"
                      *ngIf="
                        this.updateForm.get('phone')?.errors &&
                        this.updateForm.get('phone')?.touched
                      "
                      class="form-text text-danger"
                    >
                      Enter your Phone number correctly!
                    </div>
                    <label for="floatingInput">Phone Number</label>
                  </div>
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- emergency modal -->
        <div
          class="modal fade custom-modal"
          id="emergencyModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Update your </span>
                  <span class="fw-bolder">Emergency number</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="emergencyModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <!-- form area -->
                <form [formGroup]="updateForm" (ngSubmit)="updateEmergency()">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput"
                      placeholder="Emergency Number"
                      formControlName="emergency"
                      value="{{ account.emergencyNumber }}"
                      name="emergency"
                      aria-describedby="emergencyHelp"
                    />
                    <div
                      id="emergencyHelp"
                      *ngIf="
                        this.updateForm.get('emergency')?.errors &&
                        this.updateForm.get('emergency')?.touched
                      "
                      class="form-text text-danger"
                    >
                      Enter your emergency phone number correctly!
                    </div>
                    <label for="floatingInput">Emergency Number</label>
                  </div>
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- updateAddress modal -->
        <div
          class="modal fade custom-modal"
          id="addressModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Update your </span>
                  <span class="fw-bolder">Address</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="addressModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <!-- form area -->
                <form [formGroup]="updateForm" (ngSubmit)="updateAddress()">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingInput"
                      placeholder="Address"
                      formControlName="address"
                      value="{{ account.address }}"
                      name="address"
                      aria-describedby="addressHelp"
                    />
                    <div
                      id="addressHelp"
                      *ngIf="
                        this.updateForm.get('address')?.errors &&
                        this.updateForm.get('address')?.touched
                      "
                      class="form-text text-danger"
                    >
                      Enter your address correctly!
                    </div>
                    <label for="floatingInput">Address</label>
                  </div>
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- update Name modal -->
        <div
          class="modal fade custom-modal"
          id="nameModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Update your </span>
                  <span class="fw-bolder">Name</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="nameModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <!-- form area -->
                <form [formGroup]="updateForm" (ngSubmit)="updateName()">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="First name"
                      formControlName="fname"
                      value="{{ account.firstName }}"
                      aria-describedby="nameHelp"
                    />
                    <label for="fname">First name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="lname"
                      placeholder="Last name"
                      formControlName="lname"
                      value="{{ account.lastName }}"
                      aria-describedby="nameHelp"
                    />
                    <div
                      id="nameHelp"
                      *ngIf="
                        (this.updateForm.get('fname')?.errors &&
                          this.updateForm.get('fname')?.touched) ||
                        (this.updateForm.get('lname')?.errors &&
                          this.updateForm.get('lname')?.touched)
                      "
                      class="form-text text-danger"
                    >
                      Enter your name correctly!
                    </div>
                    <label for="lname">Last name</label>
                  </div>
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- password Modal -->
        <div
          class="modal fade custom-modal"
          id="passModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Update your </span>
                  <span class="fw-bolder">Password</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="passwordModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <!-- form area -->
                <form [formGroup]="updateForm" (ngSubmit)="updatePassword()">
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="oldpassword"
                      placeholder="Enter your old password"
                      formControlName="oldpassword"
                    />
                    <label for="oldpassword">Enter your old password</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Enter your password"
                      formControlName="password"
                      aria-describedby="passHelp"
                    />
                    <label for="password">Enter your password</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="cpassword"
                      placeholder="Confirm your password"
                      formControlName="cpassword"
                      aria-describedby="passHelp"
                    />
                    <label for="password">Confirm your password</label>

                    <div
                      id="passHelp"
                      *ngIf="
                        (this.updateForm.get('password')?.errors &&
                          this.updateForm.get('password')?.touched) ||
                        (this.updateForm.get('cpassword')?.errors &&
                          this.updateForm.get('cpassword')?.touched)
                      "
                      class="form-text text-danger"
                    >
                      Enter your passwords correctly !
                    </div>
                  </div>
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="proofModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 style="font-size: 22px" id="exampleModalLabel">
                  <span class="text-dark">Upload your </span>
                  <span class="fw-bolder">iD proof</span>
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  id="proofModalClose"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <input (change)="getProof($event)" type="file" class="form-control mb-2" />
                  <div class="d-grid">
                    <button
                      class="btn rounded text-white"
                      style="background-color: #ff385c"
                      type="submit"
                      (click)="updateProof()"
                    >
                      update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
